<div class="container">
  <div class="text-center">
    <h2 class="heading heading--sm">Edit Profile</h2>
  </div>

  <div class="login-card">
    <div class="login-card__form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put }, data: { turbo: false }) do |f| %>
  
      <div class="input mb-4">
        <%= f.label :username, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.text_field :username, class: "input__content", placeholder: "example"
          %>
        </div>
        <%= errors_for(resource, :username) %>
      </div>

      <div class="input mb-4">
        <%= f.label :email, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.email_field :email, class: "input__content", placeholder:
          "example@mail.com" %>
        </div>
        <%= errors_for(resource, :email) %>
      </div>

      <div class="input mb-4">
        <%= f.label :name, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.text_field :name, class: "input__content", placeholder:
          "Example Name" %>
        </div>
        <%= errors_for(resource, :name) %>
      </div>

      <div class="input mb-4">
        <%= f.label :avatar, "Avatar", class: "content-xs overline" %>
        <div class="flex flex-column gap-5">
          <%= image_tag(resource.avatar, class: "tweet_avatar") if resource.avatar.attached? %>
          <%= f.file_field :avatar, class: "input__content"%>
        </div>
        <%= errors_for(resource, :avatar)%>
      </div>

      <div class="input mb-4">
        <%= f.label :password, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.password_field :password, autocomplete: "new-password", class:
          "input__content", placeholder: "********" %>
        </div>
        <%= errors_for(resource, :password) %>
      </div>

      <div class="input mb-4">
        <%= f.label :password_confirmation, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "input__content", placeholder: "********" %>
        </div>
        <%= errors_for(resource, :password_confirmation) %>
      </div>

      <div class="input mb-4">
        <%= f.label :current_password, class:"content-xs overline" %>
        <div class="input__container">
          <%= f.password_field :current_password, autocomplete: "current-password",
          class: "input__content", placeholder: "********"%>
        </div>
        <%= errors_for(resource, :current_password) %>
      </div>

      <div class="text-center">
        <div class="actions mb-4"><%= f.submit "Update", class: "button button--primary full-width" %></div>
        <%= link_to "Back", :back, class: "primary-500" %>
      </div>

      <% end %> 
    </div>
  </div>
</div>
