<%= form_with(model: tweet, class: "container__tweet-form") do |form| %>
  <%= form.hidden_field :replied_to_id, value: @tweet.id %>

  <div class="input">
    <%= form.text_area :body, maxlength: 140, placeholder: "Remember to think before write...", class:"tweet__input-container" %>
    <%=errors_for(tweet, :body)%>
  </div>
  
  <%= form.submit "Tweet", class: "button button--sm button--primary" %>
<% end %>
