<div id="<%= dom_id tweet %>">

  <p>
    <strong>Username:</strong>
    <%= link_to tweet.user.username, user_path(tweet.user) %>
  </p>


  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= tweet.likes_count %>
  </p>

  <p>
    <strong>Replies: </strong>
    <%= tweet.replies_count %>
  </p>

  <% if user_signed_in? %>
    <% if tweet.liked?(current_user) %>
      <%= button_to "Like", like_destroy_path(tweet), method: :delete %>
    <% else %>
      <%= button_to "Like", like_path(tweet) %>
    <% end %>
  <% else %>
    <%= link_to "Like", new_user_session_path %>
  <% end %>

</div>
