<div class="container">
  <div class="text-center">
    <h2 class="heading heading--sm">Sign in to your account</h2>
  </div>

  <div class="login-card">
    <p class="overline text-center">continue with</p>
    <div class="social--buttons">
      <%= link_to "GITHUB", "/", class: "button button--secondary full-width" %> 
    </div>
    <p class="overline text-center mb-2">or</p>

    <div class="login-card__form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>

      <div class="input mb-4">
        <%= f.label :email, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.email_field :email, class: "input__content", placeholder:
          "example@mail.com" %>
        </div>
        <%= errors_for(resource, :email) %>
      </div>

      <div class="input">
        <%= f.label :password, class:"content-xs overline"%>
        <div class="input__container">
          <%= f.password_field :password, autocomplete: "current-password",
          class: "input__content", placeholder: "********" %>
        </div>
        <%= errors_for(resource, :username) %>
      </div>

      <div class="login-card__remember">
        <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
        <% end %>
      </div>

      <p class="mb-4"><%= link_to "Forgot your password?", new_user_password_path, class: "content-sm" %></p>

      <div class="text-center">   
        <div class="actions mb-4">
          <%= f.submit "SIGN IN", class: "button button--primary full-width" %>
        </div>

        <p class="content-sm mb-4">Don't have an account?</p>

        <%= link_to "Create an account", new_user_registration_path, class:
        "content primary-500" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
